body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.center {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-weight: 900;
    color: steelblue;
}

.align {
    margin-top: 60px;
}

.first,
.second {
    font-size: 18px;
    color: chocolate;
}

.align .second {
    text-align: left;
}